/* .titulo-demo h1 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 40px;
  color: #ffffff;
} */

/* p {
  width: 100%;
  font-size: 1rem;
}




@media (max-width: 600px) {
  p {
    font-size: 0.8rem;
  }
} */


  /* p {
    width: 100%;
    font-size: 80%;
  } */


@media (max-width: 850px) {
  p {
    font-size: 0.7rem;
  }
  h2 {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.2rem;
  }
}

@media (max-width: 850px) {

}



.comentario {
  margin: 0px;
  color: #6272a4;
}

.card-demo {
    /* background-color: #021017; */
    background-color: #171f24;
    width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px #537183;
    padding: 3%;

    /* margin-top: 5%;
    margin-bottom: 5%; */
    
  }

  

.button_resp {
  background-color: #396d8c; /* Azul primário */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button_resp:hover {
  background-color: #254558; /* Azul mais escuro no hover */
  transform: translateY(-2px); /* Efeito de "elevação" */
}

.button_resp:active {
  background-color: #152631; /* Azul ainda mais escuro no clique */
  transform: translateY(0); /* Remover elevação no clique */
}


.button-demo {
    font-size: 50px;
    color: #64aad4;
    /* color: #6200ea; */
    background-color: #00000000;

    border: none;
    border-radius: 100%;
    cursor: pointer;
    outline: none;


    display: flex;
    
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    margin-left: 20px;
    margin-right: 20px;

    height: 70px;
    width: 70px;
}

.button-demo:hover {
  background-color: #223b4a;
}
  
.button-inv {
  background-color: #00000000;

  border: none;
  border-radius: 100%;
  cursor: pointer;
  outline: none;

  margin-left: 20px;
  margin-right: 20px;

  height: 70px;
  width: 70px;
}




.page-indicator {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    /* margin-bottom: 30px; */
}
/* 
.indicator {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
} */
  
.indicator.active {
  background-color: #008cff;;
}


.btn-demo {
  /* padding: 5px; */
  background-color: #27292c;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  /* font-size: 16px; */
  cursor: pointer;

  height: 25px;
  width: 25px;
}

.btn-demo:hover {
    background-color: #0056b3;
}


.card-perguntas {
  display: grid;
  grid-template-columns: 33.333333333% 33.333333333% 33.333333333%;

  align-items: flex-start;

  height: auto;
  width: 100%;
  /* padding: 20px; */
}

.info_box {
  background: #757575;
  /* box-shadow: 0 0 10px #cecece; */
  padding: 2px;
  margin-left: 10px;
  /* padding: 1px 10px; */
  /* margin-top: 10px; */
  /* border-radius: 10px; */
}


.img-fundoBranco {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; /* Cor de fundo da coluna esquerda */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.343);
  /* padding: 20px; */
  /* margin-right: 20px;
  margin-left: 20px; */
  /* margin-bottom: 20px; */
}





input[type="text"] {
  padding: 5px;
  border: 1px solid #3f4355;
  border-radius: 6px;
  background-color: #242630;
  color: #bd93f9;
  width: 50px;
  text-align: center;
  margin-right: 5px;
}


/* h1 {
  color: #ff9c33;
}
h2 {
  color: #ff9c33;
} */

/* p {
  color: #f1f1f1;
} */
.experimentos_card {
  background-color: #282a36;
  border-radius: 5px;
  padding-right: 4%;
  padding-top: 6%;
  padding-bottom: 4%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.343);
}

.experimentos_card strong {
  color: #ff79c6; /* Altere essa cor para a desejada */
}

.experimentos_card p {
  color: #f1f1f1; /* Altere essa cor para a desejada */
}
.experimentos_card span {
  color: #bd93f9;
}




.roxo {
  color: #bd93f9;
  font-weight: bold;
  
}

.branco {
  color: #f1f1f1;
}

.rosa {
  color: #f859a8;
}

.verde {
  color: #66f859;
  font-weight: bolder;
}

.laranja {
  color: #d2691e
}

.amarelo {
  color: #f8f859;
}

.code-editor {
  /* display: flex;
  align-items: center; */

  /* justify-content: space-between; */
  /* flex-direction: column; */

  /* width: 100%;  */
  /* height: 100%; */

  /* justify-content: center; */

  margin-right: 2%;

  background-color: #282a36;
  color: #ffffff;
  font-family: 'Source Code Pro', monospace;

  line-height: 1.5;
  padding: 10px;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  resize: none;
  white-space: pre;
  overflow: auto; /* Adiciona rolagem se o conteúdo exceder o espaço disponível */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
}

/* 
@media screen and (min-width: 100px) and (max-width: 700px) {
  .terminal {
    max-height: 80px;
    font-size: 50%
  }
}

@media screen and (min-width: 700px) {
  .terminal {
    max-height: 170px;
    font-size: 70%
  }
} */


.terminal {
  margin-top: 2%;
  margin-right: 2%;
  
  background-color: #0c0c0c;
  color: #cccccc;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid #3c3c3c;
  resize: none;
  white-space: pre;
  overflow: auto; /* Permite rolagem caso o conteúdo exceda a altura máxima */
  
  max-height: 23vh; /* A altura máxima será 30% da altura da tela */
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
  word-wrap: break-word; /* Permite quebrar palavras muito longas */
}



.code-editor .purple {
  color: #bd93f9; /* Cor roxa para números */
}

.code-editor .pink {
  color: #ff79c6; /* Cor rosa para o caractere '=' */
}

.code-editor:focus {
  outline: none;
  border-color: #007acc;
}


.btn-run {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 5px; */
  margin-left: 5px;
  background-color: #398636;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  /* font-size: 16px; */
  cursor: pointer;

  height: 4vw;
  width: 4vw;
}

.btn-run:hover {
  background-color: #b5284e;
}



.titulo {
  font-family: 'Times New Roman';
  text-align: start;
  /* color: #5dfffb; */
}

/* .destaque_comprimento {
  color: #78ffc7;
  font-weight: bold;
}

.destaque_comprimento2 {
  color: #5dfffb;
  font-weight: bold;
}
 */

/* .destaque_calor {
  color: #ff0f0f;
  font-weight: bold;
}

.destaque_velocidade {
  color: orange;
  font-weight: bold;
} */